<!DOCTYPE html>
<html lang="en">
<link>

    <!--Codificacion de Caracteres-->
    <meta charset="UTF-8">

    <!--INFO COMPLEMENTARIA DE LA PAGINA--> 
    <!--Este meta habla de la compatibilidad entre el html y el contenido-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Nos permite que la escala incial del documento sea de 1. Se vea completo(initial-scale=1.0)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <!--
     Para cuando queremos agregar recursos a la pagina
     rel -> menciona el tipo de dato, documento, info que queremos traer
     href -> el link del url del recurso que se quiere vincular
    -->
    <link rel="" href="">
</head>

<body>
    <!--ETIQUETAS CONTENEDORAS-->
    <!--Me permite demarcar un area concreta en mi pagina para poner informacion-->
    <header></header>
    <section></section>
    <footer></footer>
    <article></article>
    <nav></nav>
    <aside></aside>
    <figure></figure>
    <main></main>
    <form></form>

    <!--ETIQUETAS DE CONTENIDO-->
    <!--indican jerarquia de texto-->
    <h1>BIENVENIDO AL SITIO WEB DE CUFARINI</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h1>
    <h5>H5</h5>
    <h6>H6</h6>
    <p>representa un parrafo, podemos escribir la cantidad de texto que se nos cante</p>
    <a href="">nos permite hacer un enlace</a>
    <img src="" alt="">

    <ul type="square">
        <li>Desorganizada</li>
    </ul>

    <ol type="I">
        <li>Organizada</li>
    </ol>

    <!--ETIQUETAS DE FORMATO-->
    <!--etiquetas que se usan dentro de etiquetas de contenido-->
    <i>italica</i>
    <b>negrita</b> 
    <strong>negrita</strong>
    <em>cursiva</em>
    <small>pequenio</small>
    <abbr title="facebook">F</abbr>
    <cite>citas que me gustaria tener ah</cite>
    <code>tiene un estilo particular para el codigo</code>
    <span>sirve como para darle un estilo particular a un elemento concreto</span>
    
</body>
</html>