<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flexbox's</title>

    <link rel="stylesheet" href="/css/mobile.css" />
  </head>
  <h1>LOREM IPSUM DOLOR SIT AMET</h1>

  <header>
    <p id="parrafo1">lorem ipsum dolor sit amet</p>
    <p id="parrafo2">lorem ipsum dolor sit amet</p>
    <p id="parrafo3">lorem ipsum dolor sit amet</p>
  </header>

  <br />

  <body>
    <nav>
      <a href="1">1</a>
      <a href="2">2</a>
      <a href="3">3</a>
    </nav>
  </body>
</html>
