<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="../public/assets/logo-mercado-liebre.pvg" alt="logo-mercado-liebre">
        <p>Lugar para poner barra de busqueda</p>
        <p>compras en cuotas y sin tarjeta de credito</p>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>
